.navbar-custom{
    background-color: #F0FFF0 ;
}

.get-in{
    background-color: #21B573;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 33px;
}
.push-me{
    background-color: #21B573;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 33px;
}
.study{
    background: #F0FFF0;
    padding: 20px 40px;
}
h3{
    color: #FD511A;
}
.card-1{
    background-color:  #F8FFFB;
    border-radius: 10px;
    box-shadow: 0px 10px 20px;
}
.card-2{
    background-color:  #FFFFFF;
    box-shadow: 0px 20px 40px;
    border-radius: 10px;
}
.card-3{
    background-color: #F8FFFB;
    border-radius: 10px;
    box-shadow: 0px 10px 20px;
}  
.card-4{
    background-color:  #FFFFFF;
    box-shadow: 0px 20px 40px;
    border-radius: 10px;
}  
.card{
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
 
 
 body{
     font-family: 'poppins'. sans-serif;
 }


 .container{
     margin-bottom: 100px;
     
      
 }
  .container topclass{
      padding: 100px;
      margin-bottom: 100px;
  
 }
 footer{
     background-color:#282531;
     color: white;
     padding: 20px 40px;
     
 }
 footer a{
     color: white;
 }
 .opinion{
     padding: 50px;
 } 
 .bundle{
     padding: 30px;
 }
     
 
 footer{
     text-align: center;
 }
  
   