.get-in{
    background-color: #21B573;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 33px;
}
.push-me{
    background-color: #21B573;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 33px;
}
.study{
    background: #F0FFF0;
    padding: 20px 40px;
}
h3{
    color: #FD511A;
}
 .col mb-3{
     border: none;
     border-radius: 20px;
     box-shadow: 5px 5px 10px gray;
 }
 body{
     font-family: 'poppins'. sans-serif;
 }

 .card{
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px gray;
 }
 .container{
     margin-bottom: 100px;
     
      
 }
  .container topclass{
      padding: 100px;
      margin-bottom: 100px;
  
 }
 footer{
     background-color:#282531;
     color: white;
     padding: 20px 40px;
     
 }
 footer a{
     color: white;
 }
 .opinion{
     padding: 50px;
 } 
 .bundle{
     padding: 30px;
 }
     
 
 footer{
     text-align: center;
 }
  
   